<!-- <mat-chip-list>
    
    <mat-chip 
        *ngFor="let color of colors"
        (click)="chooseColor(color)"
        [ngStyle]="{'background-color':color.hexValue}"
        [ngClass]="{'selected': color === selectedColor}">
    </mat-chip>
</mat-chip-list> -->
<!-- chosen: {{selectedColor | json}} -->

<!-- 
<mat-grid-list cols="4" rowHeight="30px">
    <mat-grid-tile -->
        <mat-chip-list>
            <mat-chip 
                *ngFor="let color of colors"
                (click)="chooseColor(color)"
                [ngStyle]="{'background-color':color.hexValue}"
                [ngClass]="{'selected': color === selectedColor && color.hexValue !== OFF_COLOR_HEX}">
                <span style="color: white" *ngIf="color.hexValue === OFF_COLOR_HEX">OFF</span>
            </mat-chip>
        </mat-chip-list>
        <!-- <h4>Brightness</h4> -->
        <mat-slider min="1" max="100" step="5" (value)="brightnessValues['d1']" [(ngModel)]="brightnessValues['d1']" (change)="setBrightness($event, 1)"></mat-slider>
        <mat-slider min="1" max="100" step="5" (value)="brightnessValues['d2']" [(ngModel)]="brightnessValues['d2']" (change)="setBrightness($event, 2)"></mat-slider>
<!-- setBrightness($event)
    </mat-grid-tile>
</mat-grid-list> -->