mat-chip {
    // background-color: rgb(21, 32, 200) !important;
    color:white;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(165, 165, 165, 0.3);
    // margin: 20px;
    &.selected {
        border: 6px solid rgba(255,255,255, 0.5);
        // width:65px;
        // height: 65px;
        // border-radius: 32px;
       
    }

}