#beamer-loader {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
 
    mat-spinner {
      
     
     
    }
}
.mat-spinner::ng-deep circle {
    stroke: #fff;
  }

.isNotReady {
    opacity: 0.5;
}