/* @import '~https://fonts.googleapis.com/icon?family=Material+Icons'; */
// @import '~@angular/material/prebuilt-themes/indigo-pink.css'; 
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.container {
    /* padding: 64px 64px 400px 400px; */
    // float: right;
    color:blue;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /deep/ mat-card {
        margin: 10px;

        &.small {
            height:22px;
        
        }
    }

   

}
mat-card {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-children {

}
form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

#wifi {
    // .onoffswitch {
    //     //position: relative; 
    //     // width: auto;
    //     // margin:auto;
    //     margin-top:0;
    //     /*align-self: center;*/
    
    //     -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    // }
    // .onoffswitch-checkbox {
    //     display: none;
    // }
    // .onoffswitch-label {
    //     display: block; overflow: hidden; cursor: pointer;
    //     border: 2px solid #F0F0F0; border-radius: 37px;
    // }
    // .onoffswitch-inner {
    //     display: block; width: 200%; margin-left: -100%;
    //     transition: margin 0.3s ease-in 0s;
    // }
    // .onoffswitch-inner:before, .onoffswitch-inner:after {
    //     display: block; float: left; width: 50%; height: 75px; padding: 0; line-height: 75px;
    //     font-size: 19px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    //     box-sizing: border-box;
    // }
    // .onoffswitch-inner:before {
    //     content: "Ça baigne chirac!";
    //     padding-left: 10px;
    //     background-color: #8ED175; color: #FFFFFF;
    // }
    // .onoffswitch-inner:after {
    //     content: "OFF";
    //     padding-right: 10px;
    //     background-color: #F23A3A; color: #FFFFFF;
    //     text-align: right;
    // }
    // .onoffswitch-switch {
    //     display: block; width: 50px; margin: 12.5px;
    //     background: #FFFFFF;
    //     position: absolute; top: 0; bottom: 0;
    //     /*right: 90vh;*/
    //     left:1vh;
    //     right:auto;
    //     border: 2px solid #F0F0F0; border-radius: 37px;
    //     transition: all 0.3s ease-in 0s; 
    // }
    // .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    //     margin-left: 0;
    // }
    // .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    //     right: 1vh; 
    //     left:auto;
    // }
}
