<particles [style]="myStyle" [width]="myWidth" [height]="myHeight" [params]="myParams"></particles>
<!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button> -->

<div class="container">

  <!-- connect -->
  <mat-card *ngIf="false && !(isConnected$ | async)">

<form>
   <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="Code" value="" [(ngModel)]="pass" name="pass">
    </mat-form-field>

    
      <button *ngIf="!isLoading" mat-raised-button color="primary" (click)="connect()" type="submit">Connect</button>
      <span style="color: orangered;" *ngIf="error">{{error}}</span>

    </form>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
  </mat-card>
  

  <!-- components-->
  <ng-container *ngIf="true || (isConnected$ | async)">
      <!-- SOUND -->
      <mat-card class="center-children">
        <!-- <h3>Sound</h3> -->
        <binch-sound *ngIf="(isReady$ | async) === true || (isReady$ | async) === false" [isReady]="isReady$ | async"></binch-sound>
      </mat-card>
      <!-- LED -->
      <mat-card>
        <binch-led *ngIf="showLed || true"></binch-led>
      </mat-card>
      <!--BEAMER-->
      <mat-card class="small">
        <app-beamer [isReady]="true || (isReady$ | async)"></app-beamer>
    </mat-card>
      
      <!-- WIFI -->
      <mat-card class="small">
          <binch-wifi *ngIf="showWifi || true"></binch-wifi>
      </mat-card>
  </ng-container>

  <mat-card *ngIf="showDebug">
      <form class="example-form">
          <mat-form-field class="example-full-width">
            <!-- <input matInput placeholder="Event" value="" [(ngModel)]="val" name="val" mat-autosize> -->
            <textarea matInput placeholder="Event" value="" [(ngModel)]="val" name="val"></textarea>

          </mat-form-field>
          <button mat-button (click)="sendVal()">SEND</button>
          <div>isReady: {{ isReady$ | async }}</div>
      </form>
  </mat-card>

</div>



<!-- <mat-menu #menu="matMenu">
  <button (click)="hideAll();showWifi = true" mat-menu-item>Item 1</button>
  <button (click)="hideAll();showLed = true" mat-menu-item>Item 2</button>
</mat-menu> -->