/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 

mat-slide-toggle button {
        min-height: 23px !important;
        min-width: 46px !important;
        font-size: 10px !important;
        line-height: 0px; 
    /* width: 100vw;
    font-size: 530px !important;
    width:500px !important;
    button {
        min-height: 23px !important;
        min-width: 46px !important;
        font-size: 10px !important;
        line-height: 0px; 
  } */
}