<button mat-icon-button (click)="sendAction(action.code)" *ngFor="let action of actions">
    <mat-icon [ngClass]="{'isNotReady': !isReady }" style="font-size:2.2em;" aria-label="Example icon-button with a heart icon">{{action.icon}}</mat-icon>
</button>
<div id="sound-loader" *ngIf="loaded && !isReady">
    <mat-spinner [diameter]="50"></mat-spinner>
</div>
